@import "./bootstrap.scss";

@keyframes loader-spin {
    100% { 
        -webkit-transform: translate(-50%, -50%) rotate(360deg); 
    }
}

@-webkit-keyframes loader-spin {
    100% { 
        -webkit-transform: translate(-50%, -50%) rotate(360deg); 
    }
}

body {
    color: $color_darkest;
    font-size: $font_size_body;
    //background-color: red;
}

#app {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

.main-nav {
    height: $header_height;
    padding: 0 10px;
    background-color: $color_dark_teal;
    color: $color_white;
    
    .main-nav-inner {
        height: 100%;
    }
    
    .main-nav-inner h1 {
        //display: inline-block;
        width: 40%;
        margin: 0;
        font-size: $font_size_title;
        font-weight: bold;
        color: $color_white;
    }
}

.main-content {
    overflow: hidden;
    height: calc(100% - $header_height);
    background-color: #d4d4d4;
    
    .main-content-inner {
        height: calc(100% - ($cell_margin * 2));
        margin: $cell_margin $cell_margin 0;
    }
}

.button {
    &.add {
        display: inline-block;
        width: 16px;
        height: 16px;
        
        .label {
            display: none;
        }
        
        .icon {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }
        
        .icon::before,
        .icon::after {
            content: '';
            position: absolute;
            background-color: $color_dark_teal;
        }
        
        .icon::before {
            width: 2px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .icon::after {
            width: 100%;
            height: 2px;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
    }
    
    &.add-2 {
        display: inline-block;
        
        .icon {
            display: none;
        }
        
        .label {
            font-size: 12px;
        }
    }
    
    &.edit-2 {
        display: inline-block;
        
        .icon {
            display: none;
        }
        
        .label {
            font-size: 12px;
        }
    }
    
    &.delete-2 {
        display: inline-block;
        
        .icon {
            display: none;
        }
        
        .label {
            font-size: 12px;
        }
    }
    
    &.save-2 {
        display: inline-block;
        
        .icon {
            display: none;
        }
        
        .label {
            font-size: 12px;
        }
    }
    
    &.cancel-2 {
        display: inline-block;
        
        .icon {
            display: none;
        }
        
        .label {
            font-size: 12px;
        }
    }
}

.search-with-dropdown-cont {
    position: relative;

    .search-text {
        width: 100%;
    }

    .search-results {
        display: none;
        position: absolute;
        overflow: auto;
        min-width: 100%;
        max-height: 200px;
        top: 100%;
        left: 0;
        background-color: $color_white;
        border: 1px solid $color_lightest;
        z-index: 100;

        &.show {
            display: block;
        }

        .search-results-inner {
            //padding: 10px;
        }

        .search-results-inner .search-result-item {
            background-color: #f1f1f1;
            border-bottom: 1px solid $color_lightest;
        }

        .search-results-inner .search-result-item .search-result-item-link {
            display: block;
            padding: 8px 10px;
            line-height: 1;
            color: $color_dark;
            text-decoration: none;
            white-space: nowrap;
        }

        .search-results-inner .search-result-item .search-result-item-link:hover {
            background-color: $color_light;
        }
    }
}

.projects-container {
    height: 100%;
}

.project {
    height: 100%;
    
    .container-fluid {
        //height: 50%;
        //overflow: hidden;
        
        &:first-child {
            height: 40%;
            /*
            .col:first-child {
                border-top: 1px solid $color_light;
                border-left: 1px solid $color_light;
            }
            
            .col:last-child {
                border-top: 1px solid $color_light;
                border-left: 1px solid $color_light;
                border-right: 1px solid $color_light;
            }
            */
        }
        
        &:last-child {
            height: 60%;
            /*
            .col:first-child {
                border-top: 1px solid $color_light;
                border-left: 1px solid $color_light;
                border-bottom: 1px solid $color_light;
            }
            
            .col:last-child {
                border: 1px solid $color_light;
            }
            */
        }
        
        > .row {
            height: 100%; 
            //overflow: hidden;
        }
        
        > .row > .col {
            //padding: 0;
            //overflow: hidden;
        }
        
        > .row > .col > .boxed-content {
            position: relative;
            overflow: hidden;
            width: calc(100% - ($cell_margin * 2));
            height: calc(100% - ($cell_margin * 2));
            margin-top: $cell_margin;
            margin-left: $cell_margin;
            border: 1px solid $color_light;
            border-radius: 5px;
            background-color: $color_white;
        }
        
        .boxed-content .boxed-content-inner {
            width: calc(100% - 30px);
            height: calc(100% - 20px);
            margin-top: 10px;
            margin-left: 15px;
        }
        
        .boxed-content .box-title {
            height: $box_title_height;
            margin-bottom: 10px;
        }
        
        .boxed-content .box-title h2 {
            margin: 0;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            //white-space: nowrap;
            color: $color_mid_dark_teal;
            //border-bottom: 1px dotted $color_dark_teal;
        }
        
        .boxed-content .box-title .search-text,
        .boxed-content .box-title .search-date {
            height: 25px;
            border: 1px solid $color_light;
            font-size: 13px;
        }
        
        .boxed-content .box-title .search-text {
            width: 50%;
        }

        .boxed-content .box-title .search-with-dropdown-cont {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }

        .boxed-content .box-title .search-with-dropdown-cont .search-text {
            width: 100%;
        }
        
        .boxed-content .box-main {
            height: calc(100% - ($box_title_height + 10px));
            //min-height: 150px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        
        .boxed-content .box-main .box-main-wrapper {
            flex: 1 1 1px;
            height: 100%;
            overflow: auto;
        }

        .boxed-content::before {
            display: none;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.6);
            z-index: 10;
        }

        .boxed-content.disabled::before {
            display: block;
        }

        .boxed-content::after {
            display: none;
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            border: 4px solid $color_mid_dark;
            border-right-color: transparent;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: 15;

            animation: loader-spin 1s ease-in-out infinite;
            -webkit-animation: loader-spin 1s ease-in-out infinite;
        }

        .boxed-content.disabled::after {
            display: block;
        }
    }
}

#project-info {
    .proj-details {
        position: relative;
        padding: 0 90px 0 0;
        
        > .controls {
            position: absolute;
            width: 90px;
            top: 0;
            right: 0;
            text-align: right;
            user-select: none;
        }
        
        > .project-name {
            margin-bottom: 10px;
            font-size: 35px;
            font-weight: bold;
            line-height: 1.3;
        }
        
        > .project-desc {
            margin-bottom: 10px;
            font-style: italic;
        }
        
        > .storage-link {
            font-size: 15px;
        }
        
        > .project-desc a,
        > .storage-link a {
            color: $color_darkest;
        }
    }
}

#credentials {
    .item-group {
        margin-bottom: 25px;
        padding-bottom: 10px;
        //border-bottom: 1px dotted $color_mid_dark;
        
        &:last-child {
            border-bottom: 0;
        }
        
        > .controls {
            margin: 0 15px;
            padding: 10px 0;
            user-select: none;
        }
        
        .item-group-title {
            position: relative;
            padding: 5px 10px 5px 0;
            //margin-bottom: 20px;
        }
        
        .item-group-title > .controls {
            position: absolute;
            width: 90px;
            top: 0;
            right: 15px;
            text-align: right;
            user-select: none;
        }
        
        .item-group-title > .controls .button {
            color: $color_darkest;
        }
        
        > .controls .button .label {
            font-size: 14px;
        }
        
        .item-group-title h3 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
        }
        
        .item-group-title .edit-groupname-form {
            padding: 0 105px 0 0;
        }
        
        .item-group-title .edit-groupname-form input {
            font-weight: bold;
        }
        
        .add-item-form {
            padding: 10px 105px 5px 15px;
            background-color: #f1f1f1;
        }
        
        .item {
            position: relative;
            margin: 0;
            padding: 5px 120px 5px 15px;
            border-bottom: 1px dotted $color_mid_dark;
        }
        
        .item:last-child {
            border-bottom: none;
        }
        
        .item:hover {
            background-color: #f1f1f1;
        }
        
        .item > .controls {
            position: absolute;
            width: 90px;
            height: 100%;
            top: 0;
            right: 15px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            text-align: right;
            user-select: none;
        }
        
        .item > .label {
            display: block;
            opacity: 0.6;
            //font-weight: bold;
        }
        
        .item > .value {
            display: block;
            //font-style: italic;
        }
        
        .item > .value a {
            color: $color_darkest;
        }
        
        .item > .value .copy-to-clipboard {
            display: none;
            width: 14px;
            margin-left: 50px;
            cursor: pointer;
            user-select: none;
        }
        
        .item:hover > .value .copy-to-clipboard {
            display: inline-block;
        }
    }
}

#timelogs {
    .box-cont {
        height: calc(100% - ($box_title_height + 10px));
        overflow: hidden;
        //display: flex;
        //flex-direction: column;
        
        .btn.session-started {
            background-color: red;
            border-color: red;
        }
    }
    
    .box-main {
        height: 100%;
        margin-right: 35px;
        //border: 1px solid $color_lightest;
        background-color: #f1f1f1;
    }

    .time-info {
        .label {
            opacity: 0.6;
        }
        
        .value {
            opacity: 0.8;
            font-weight: bold;
        }
    }
    
    .time-info-big {
        font-size: 24px;
        font-weight: bold;
        
        .separator {
            opacity: 0.7;
        }
    }
    
    .time-items {
        padding: 15px;
        
        .time-item {
            margin-bottom: 17px;
        }
        
        .time-item .date {
            margin-bottom: 3px;
            //font-size: 15px;
            font-weight: bold;
        }
        
        .time-item .time {
            position: relative;
            padding: 3px 105px 3px 15px;
            font-size: 15px;
        }
        
        .time-item .time:hover {
            background-color: $color_white;
        }
        
        .time-item .time > .controls {
            position: absolute;
            width: 90px;
            top: 0;
            right: 15px;
            text-align: right;
            user-select: none;
        }
        
        .time-item .date .hrs,
        .time-item .time .hrs {
            padding-left: 5px;
            opacity: 0.6;
        }
    }
}

#activities {
    .activity-item {
        margin-bottom: 20px;
        
        .date {
            margin-bottom: 3px;
            //font-size: 15px;
            font-weight: bold;
        }
        
        .action {
            position: relative;
            padding: 7px 120px 10px 15px;
            font-size: 15px;
            border-bottom: 1px dotted $color_mid_dark;
        }
        
        .action:last-child {
            border-bottom: none;
        }
        
        .action:hover {
            background-color: #f1f1f1;
        }
        
        .action > .controls {
            position: absolute;
            height: 100%;
            width: 90px;
            top: 0;
            right: 15px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            text-align: right;
            user-select: none;
        }
        
        .action > .time {
            font-size: 12px;
            opacity: 0.6;
            user-select: none;
        }

        .add-activity-form {
            margin: 0 15px;
            padding: 10px 0;
        }

        .control {
            margin: 0 15px;
            padding: 10px 0;
            user-select: none;
        }

        .control .button .label {
            font-size: 14px;
        }
    }
}